// FOR PRODUCTS

.product-container {
  background-color: #fafafa;
  padding: 50px 250px;

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 50px;

    .home {
      color: #252b42;
    }

    .chevron-right {
      margin: 0 10px;
    }

    .chevron-right,
    .shop {
      color: #bdbdbd;
    }
  }

  .content {
    display: flex;
    gap: 50px;

    .container-img {
      width: 1050px;

      .big-img {
        position: relative;
        margin: 0 0 13px;

        .right,
        .left {
          position: absolute;
          color: white;
          font-size: 40px;
          top: 50%;
        }

        .right {
          right: 20px;
        }
        .left {
          left: 20px;
        }

        .l-img {
          width: 100%;
        }
      }
    }

    .price-details {
      color: #737373;
      h3 {
        font-weight: 500;
        color: #252b42;
      }

      div {
        margin: 15px 0 30px;
        display: flex;
        align-items: center;

        .star {
          margin: 3px;
          color: #f3cd03;
        }

        p {
          font-weight: 600;

          margin-left: 15px;
        }
      }

      h2 {
        color: #252b42;
      }

      .availability {
        font-weight: 600;
        margin: 30px 0 30px;

        span {
          color: #23a6f0;
        }
      }

      .text {
        padding-bottom: 30px;
        border-bottom: 1px solid #bdbdbd;
      }

      .colors {
        .blue,
        .green,
        .orange,
        .dark-blue {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          margin-right: 20px;
        }

        .blue {
          background-color: #23a6f0;
        }

        .green {
          background-color: #2dc071;
        }

        .orange {
          background-color: #e77c40;
        }

        .dark-blue {
          background-color: #252b42;
        }
      }

      .cta {
        button {
          border: none;
          background-color: #23a6f0;
          border-radius: 5px;
          padding: 20px 40px;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          text-wrap: nowrap;
        }

        div {
          background-color: white;
          border-radius: 50px;
          border: 1px solid #bdbdbd;
          font-size: 23px;
          padding: 12px;
          margin-left: 20px;
          color: black;
        }
      }
    }
  }
}

// FOR ADDITIONAL INFO

.add-info-container {
  padding: 50px 250px;

  .tab {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #737373;
    font-weight: 600;
    padding: 0 0 50px;
    border-bottom: 1px solid #bdbdbd;
  }

  .tab p:first-child {
    font-weight: 500;
  }

  .tab p:last-child span {
    color: #23856d;
  }

  .content {
    display: flex;
    gap: 150px;
    margin: 50px 0 0;

    .details {
      h2 {
        text-wrap: nowrap;
        font-size: 22px;
      }

      p {
        padding: 40px 0 40px;
        color: #737373;
      }
    }

    .details p:nth-child(3) {
      border-left: 3px solid #23856d;
      padding: 8px 0 8px 20px;
    }

    div img {
      width: 500px;
    }
  }
}

// FOR BEST SELLER

.shop-main {
  .product-content {
    width: unset;
    margin: 160px auto 0;
    padding: 0 260px;
    background-color: #fafafa;

    .product-header {
      margin: 0 0 30px;

      p {
        display: none;
      }

      h3 {
        text-align: left;
        border-bottom: 1px solid #bdbdbd;
        padding: 50px 0 20px;
      }

      span {
        display: none;
      }
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(4, minmax(0px, 1fr));
      row-gap: 60px;
      column-gap: 48px;

      .details {
        background-color: white;
        text-align: left;
        padding: 20px;
        margin: -10px 0 0;
      }

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }
    }

    button {
      display: none;
    }

    // FOR LOGOS

    .logos {
      margin: 50px 0;
      padding: 30px 0 50px;
      display: grid;
      grid-template-columns: repeat(6, minmax(0px, 1fr));
      gap: 50px;
      text-align: center;
    }
  }

  .footer {
    .footer-header {
      background-color: unset;
    }
  }
}
